# Ignore everything by default
*

# Allow only these files to be tracked
!.gitignore
!README.md
!gemini_voice_assistant.py
!vless_manager.py
!paste_text.ahk
!paste_text.exe
!xray.exe
!logo.ico
!Build_Tools/
!Build_Tools/**
!whisper_models/
whisper_models/*
!whisper_models/.gitkeep

